<div class="container">

  <h1>Welcome!</h1>

  <p>
    Let's set your password.
  </p>

  <div class="alert alert-danger">
    <p><strong>Alert-Danger</strong></p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut consequuntur dolor dolorem doloremque
      ducimus, eum exercitationem facilis ipsum nihil nostrum pariatur quam ut. Blanditiis consequatur labore nobis quia
      totam!
    </p>
  </div>

  <p>
    <%= @greeting %>, find me in app/views/invitations_mailer/set_password.html.erb
  </p>

</div>
