<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "application-mailer", media: "all" %>
</head>

<body class="body bg-light">
<%= yield %>
</body>
</html>
